/* -------------------------------------accessibility------------------------------------ */


/* .btn_accessibility{
  top: auto !important;
  bottom: 20px !important;
}

.accessibility_action1{
  top: auto !important;
  bottom: 69px !important;
}
.accessibility_action2{
  top: auto !important;
  bottom: 116px !important;
}
.accessibility_action3{
  top: auto !important;
  bottom: 163px !important;
}
.accessibility_action4{
  top: auto !important;
  bottom: 210px !important;
}
.accessibility_action5{
  top: auto !important;
  bottom: 257px !important;
}
.accessibility_action6{
  top: auto !important;
  bottom: 304px !important;
}
.accessibility_action7{
  top: auto !important;
  bottom: 351px !important;
}
.accessibility_action8{
  top: auto !important;
  bottom: 398px !important;
}
.accessibility_action9{
  top: auto !important;
  bottom: 445px !important;
}
.accessibility_action1{
  top: auto !important;
  bottom: 492px !important;
}
.accessibility_action11{
  top: auto !important;
  bottom: 539px !important;
} */

/* -------------------------------------loader------------------------------------ */

#loader {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
